In [1]:
##Python Program for Find reminder of array multiplication divided by n
def findremainder(arr, lens, n):
    mul = 1
 
    # find the individual
    # remainder and
    # multiple with mul.
    for i in arr:
        mul = mul * (i % n)
 
    return mul % n
 
 
# Driven code
arr = [100, 10, 5, 25, 35, 14]
lens = len(arr)
n = 11
 
# print the remainder
# of after multiple
# all the numbers
print(findremainder(arr, lens, n))

9

In [2]:
#Python Program to check if given array is Monotonic
# Python3 program to find sum in Nth group

# Check if given array is Monotonic
def isMonotonic(A):

	return (all(A[i] <= A[i + 1] for i in range(len(A) - 1)) or
			all(A[i] >= A[i + 1] for i in range(len(A) - 1)))

# Driver program
A = [6, 5, 4, 4]

# Print required result
print(isMonotonic(A))

True

In [3]:
#Python program to interchange first and last elements in a list
# Python3 program to swap first
# and last element of a list

# Swap function
def swapList(newList):
	size = len(newList)
	
	# Swapping
	temp = newList[0]
	newList[0] = newList[size - 1]
	newList[size - 1] = temp
	
	return newList
	
# Driver code
newList = [12, 35, 9, 56, 24]

print(swapList(newList))

[24, 35, 9, 56, 12]

In [4]:
# Python3 program to swap elements
# at given positions

# Swap function
def swapPositions(list, pos1, pos2):
	
	list[pos1], list[pos2] = list[pos2], list[pos1]
	return list

# Driver function
List = [23, 65, 19, 90]
pos1, pos2 = 1, 3

print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

In [5]:
# Python code to demonstrate
# length of list
# using naive method

# Initializing list
test_list = [ 1, 4, 5, 7, 8 ]

# Printing test_list
print ("The list is : " + str(test_list))

# Finding length of list
# using loop
# Initializing counter
counter = 0
for i in test_list:
	
	# incrementing counter
	counter = counter + 1

# Printing length of list
print ("Length of list using naive method is : " + str(counter))

The list is : [1, 4, 5, 7, 8]
Length of list using naive method is : 5

In [6]:
"""
Python code to demonstrate
checking of element existence
using List count() method
"""

# Initializing list
test_list = [10, 15, 20, 7, 46, 2808]

print("Checking if 15 exists in list")

# number of times element exists in list
exist_count = test_list.count(15)

# checking if it is more then 0
if exist_count > 0:
	print("Yes, 15 exists in list")
else:
	print("No, 15 does not exists in list")

Checking if 15 exists in list
Yes, 15 exists in list

In [7]:
# Defining a list
list = [{1, 2}, ('a'), ['1.1', '2.2']]

# clearing the list
list.clear()

print('List:', list)

List: []

In [8]:
#write a program to Reversing a List
# Reversing a list using reverse()
def Reverse(lst):
	lst.reverse()
	return lst
	
lst = [10, 11, 12, 13, 14, 15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

In [9]:
# Reversing a list using slicing technique
def Reverse(lst):
	new_lst = lst[::-1]
	return new_lst
	
lst = [10, 11, 12, 13, 14, 15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

In [10]:
# Python program to find sum of elements in list
total = 0

# creating a list
list1 = [11, 5, 17, 18, 23]

# Iterate each element in list
# and add them in variale total
for ele in range(0, len(list1)):
	total = total + list1[ele]

# printing total value
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [11]:
##write a program to Multiply all numbers in the list
def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total  
print(multiply((8, 2, 3, -1, 7)))

-336